@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap");

/* 
====================
VARIABLES
===================
*/
:root {
  --primarycolor: rgb(25, 25, 169);
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --Transition: all 0.4s linear;
  --spacing: 0.2rem;
}
/* 
====================
VARIABLES
===================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  background: var(--mainWhite);
  color: var(--mainBlack);
  line-height: 1.5;
}

a {
  list-style-type: none;
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 1, 25rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 2;
}
/* btn style */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid rgb(170, 65, 170);
  color: orange;
  margin: 3rem;
  transition: var(--Transition);
}

.btn:hover {
  background: rgba(205, 134, 63, 0.768);
  color: var(--mainWhite);
}

/* 
====================
Navbar-one
===================
*/

.navbar-one {
  background: var(--darkGrey);
  padding: 0 2rem;
}
.navbar-one li {
  list-style-type: none;
}

.navbar-one a {
  padding: 1rem 0;
  display: block;
  text-transform: capitalize;
  color: var(--primarycolor);
  transition: var(--Transition);
  letter-spacing: var(--spacing);
}

.navbar-one a:hover {
  color: red;
}

@media screen and (min-width: 900px) {
  .grid-container {
    max-width: 1170px;
    margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4,1fr);
  }
  .navbar-one{
   text-align: center;
  }
}

/* 
====================
Hero Project
===================
*/

.hero-header{
 min-height: 100vh;
 background:linear-gradient(rgba(193, 17, 135, 0.4),rgba(0,0,0,0.4)) ,url(./images/image-6.jpg) center/cover no-repeat fixed;
 color: var(--mainWhite);
 display: grid;
 justify-content: center;
 align-items: center;
}

.hero-banner{
border-radius: 2rem;

}

.hero-banner p{
 letter-spacing: 0;
 word-spacing: -2.3px;
 width: 80%;
 max-width: 600px;
 font-size: 1rem;
 margin-top: 0.75rem;
 text-align: justify;
}

@media screen  and (max-width: 600px) {
 .hero-banner{
  padding: 0 2rem;
 }
}

@media screen  and (min-width:768px){
 .hero-header{

 }
}